// Structure
// ----------------------------------------------------------------------------

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: @background-dark;
    color: @text-bright;
    background: fixed center center url("../img/bg.jpg");
}

.container {
    .max-width(960px);
}

// Generic
// --------------------------------------

[data-area] {

}

// Specific
// --------------------------------------

[data-area="sidebar"] {
    display: table-cell;
    vertical-align: top;
    .width(@sidebar-width);
    height: 100%;
}

[data-area="background"] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}

[data-area="main"] {
    display: table-cell;
    vertical-align: top;

    .content-wrapper {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        .margin-left(-64px);
        .padding-left(64px);
        .padding-top(129px);
        overflow-y: auto;
    }

    [data-area="content"] {

    }
}

.page-headline {
    .margin-left(64px);

    h1 {
        margin-top: 15px;
    }
}

@media (max-width: @screen-tablet) {
    [data-area="main"] {
        .content-wrapper {
            .padding-top(64px);
        }
    }

    .page-headline h1 {
        margin-top: 8px;
        font-size: 1.6em;
    }
}

@media (max-width: @screen-phone) {

    .page-headline h1 {
        margin-top: 15px;
        font-size: 1.1em;
    }
}
